<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="smartbasket/css/smartbasket.min.css">
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body
    class="bg-gray">
    <div
        class="container">
        <header
            class="header">
            <div
                class="line">
                <form
                    action="/"
                    method="POST"
                    class="line__search">
                    <button
                        type="submit"
                        id="btn-to-find"
                        class="line__search__loupe">
                        <img src="src/img/loupe.svg" alt="loupe">
                    </button>
                    <input
                    placeholder="Поиск"
                    class="line__search__input"
                    name="textFind"
                    value=""
                    type="text">
                </form>
                <div class="line__icon">
                    <a class="line__icon__cart">
                    </a>
                </div>
            </div>
            <div
                class="line">
                <div class="line__title">
                    <h1>Прайс</h1>
                </div>
                <a
                    href="/filter"
                    class="line__icon">
                    <img src="src/img/filter.svg" alt="">
                </a>
            </div>
        </header>

        <main
            class="main-grid">
            <% data.forEach((el) => { %>
            <div
                class="main-grid__item">
                <a
                    href="<%= `http://localhost:5173/item?name=${el[0]}&model=${el[2]}&power=${el[6]}&price=${el[9]}&img=${el[12]}` %>"
                    class="main-grid__item__image">
                    <img src="<%= el[12] %>" alt="item-picture">
                </a>
                <div class="main-grid__item-bottom">
                    <div class="product__quantity"></div>
                    <div
                        class="main-grid__item__price">
                        <h2><%= el[9] %> ₽</h2>
                    </div>
                    <div
                        class="main-grid__item__name">
                        <h3><%= el[0] %></h3>
                    </div>
                    <div class="main-grid__item__btn"
                    data-sb-id-or-vendor-code="<%= el[6] %>"
                    data-sb-product-name="<%= el[0] %>"
                    data-sb-product-price="<%=el[9]%>"
                    data-sb-product-quantity="1"
                    data-sb-product-img="<%= el[12] %>">Купить</div>
                </div>
            </div>
            <% }); %>
            
        </main>
    </div>

    <div class="smart-basket__wrapper"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="smartbasket/js/smartbasket.min.js"></script>

	<script>
		$(function () {
			$('.smart-basket__wrapper').smbasket({
				productElement: 'main-grid__item',
				buttonAddToBasket: 'main-grid__item__btn',
				productPrice: 'product__price-number',
				productSize: 'product__size-element',
				
				productQuantityWrapper: 'product__quantity',
				smartBasketMinArea: 'line__icon__cart',
				countryCode: '+7',
				smartBasketCurrency: '₽',
				smartBasketMinIconPath: './src/img/cart.svg',

				agreement: {
					isRequired: true,
					isChecked: true,
					isLink: 'https://artstranger.ru/privacy.html',
				},
				nameIsRequired: false,
			});
		});
	</script>
</body>
</html>