<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар</title>
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body
    class="bg-gray">
    <header
        class="bg-gray item-header">
        <span onclick=" window.location.href = '/'">
        назад
        </span>
        <h1><%= name %> </h1>
    </header>

    <div
        class="item-image">
        <img src="http://drive.google.com/uc?export=view&id=<%= img %>" alt="ItemPhoto">
    </div>

    <div
        class="item-desc">
        <div
            class="container">
            <div
                class="item-desc__item">
                <div
                    class="item-desc__item__price">
                    <h2><%= price %> ₽</h2>
                    <img src="src/img/pin.svg" alt="pin">
                </div>

                <div
                    class="item-desc__item__size">
                    <div
                        class="item-desc__item__size__title">
                        <h2>Крепость <span>мг</span></h2>
                    </div>
                    <div
                        class="item-desc__item__size__items">
                        <div
                            class="item-desc__item__size__items__box">
                            <p><%= size %></p>
                        </div>
                    </div>
                </div>

                <div
                    class="item-desc__item__desc">
                    <h2>
                        Описание
                    </h2>
                    <p>
                        <%= model %>
                    </p>
                </div>
            </div>

        </div>
        <div
            class="submit">
            <div class="container">
                <button
                    class="submit__btn"
                    type="button">Оплатить</button>
            </div>
        </div>
    </div>
</body>
</html>