<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
    <link rel="stylesheet" href="smartbasket/css/smartbasket.min.css">
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body
    class="bg-gray">
    <header
        class="bg-gray item-header">
        <!-- <div onclick=" window.location.href = '/'">
        </div> -->
        <svg
        onclick=" window.location.href = '/'"
        class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
        </svg>        
        <h1><%= name %> </h1>
    </header>

    <div
        class="item-image">
        <% if (img != "undefined") { %>
        <img src="http://drive.google.com/thumbnail?export=view&id=<%= img %>" alt="ItemPhoto">
        <% } %>
        <% if (img == "undefined") { %>
        <img src="src/img/noPhoto.jpeg" alt="noPhoto">
        <% } %>
    </div>

    <div
        class="item-desc">
        <div
            class="container">
            <div
                class="item-desc__item">
                <div
                    class="item-desc__item__price">
                    <h2 class="price"><%= price %> &#x20bd;</h2>

                    <div class="item-desc__power">
                        <h3>Крепость <%= power %> мг</h3>
                    </div>
                </div>
                <div
                    class="item-desc__item__size">
                    <div
                        class="item-desc__item__size__title">
                        <h2>Вкус</h2>
                    </div>
                    <div
                        class="item-desc__item__size__items">
                        <div
                            class="item-desc__item__size__items__box">
                            <p class="taste"><%= taste %></p>
                        </div>
                    </div>
                </div>

                <div
                    class="item-desc__item__desc">
                    <h2>
                        Описание
                    </h2>
                    <p>
                        <%= model %>
                    </p>
                </div>
            </div>
            <!-- <div class="product__quantity"></div> -->
        </div>
        <div
            class="submit">
            <div class="container">
                <button
                class="submit__btn"
                type="button"
                data-sb-id-or-vendor-code="<%= power %>"
                data-sb-product-name="<%= name %>"
                data-sb-product-price="<%=price%>"
                data-sb-product-quantity="1"
                <% if (img !== "undefined") { %>
                data-sb-product-img="http://drive.google.com/thumbnail?export=view&id=<%= img %>">Купить</div>
                <% } %>
                <% if (img === "undefined") { %>
                data-sb-product-img="src/img/noPhoto.jpeg">Купить</div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="smart-basket__wrapper"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="smartbasket/js/smartbasket.min.js"></script>

    <script>
		$(function () {
			$('.smart-basket__wrapper').smbasket({
				buttonAddToBasket: 'submit__btn',
				productPrice: 'price',
				productSize: 'power',
				
				// productQuantityWrapper: 'product__quantity',
				smartBasketMinArea: 'line__icon__cart',
				countryCode: '+7',
				smartBasketCurrency: '₽',
				smartBasketMinIconPath: './src/img/cart.svg',

				agreement: {
					isRequired: true,
					isChecked: true,
					isLink: 'https://artstranger.ru/privacy.html',
				},
				nameIsRequired: false,
			});
		});
	</script>
</body>
</html>